<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">    
</head> 
<body>
    <nav class="navbar"> 
        <div class="logo">Brand Name</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">New Order</a></li>                         
            </ul>
        </div>    
</nav>
<div >
    <p id="inline">Order</p>
    <p id="inline">Customer Name</p>
    <p id="inline">Customer Address</p>
</div>
<div id ="grid">
    <h2 id="pending_list">Pending</h2>
    <h2 id="completed_list">Complete</h2>
</div>
<script src="/public/script.js"></script>
</body>
</html>